@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first .Net Core CRUD Form </h1>
    <p> @ViewBag.Greeting</p>
    <p> @ViewBag.Topic</p>

    <div>

        <style>
            p {
                color: navy;
                text-indent: 50px;
                text-align: center;
            }
        </style>



        <h1>.Net Core (Model - View - Controller) </h1>

        <p>The ASP.NET Core MVC framework is a lightweight, open source, highly testable presentation framework optimized for use with ASP.NET Core. ASP.NET Core MVC provides a patterns-based way to build dynamic websites that enables a clean separation of concerns. </p>

        <p>In this article, let’s go in-depth and understand the functionalities you can achieve with the help of Microsoft Identity. We will build a small yet practical implementation of Custom User Management in ASP.NET Core MVC with Identity. This will cover most of the practical use cases involved while developing User Management in ASP.NET Core.</p>
        <p><a href="https://www.tutorialspoint.com/asp.net_core/asp.net_core_setup_mvc.htm" target="_blank">Click here to learn more about M-V-C</a></p>


        <p> @ViewBag.Close</p>
        <img src="~/images/thank you.jpg" />
        <p> @ViewBag.ServerTime</p>
    </div>
</div>
